[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
evaluate = "sh -c 'PYTHONPATH=$(pwd)/src python3 -m evaluate_runbook'"
debug = "sh -c 'PYTHONPATH=$(pwd)/src LOGGING_LEVEL=DEBUG python3 -m evaluate_runbook'"
build = "docker build --tag ghcr.io/agile-learning-institute/stage0_runbook_evaluate:latest ."
container = "sh -c 'docker run --rm /
    -v ./test_data/input:/input
    -v ./test_data/config:/config
    -v ./test_data/output:/output
    ghcr.io/agile-learning-institute/stage0_runbook_evaluate:latest
'"

[packages]
stage0-py-utils = {file = "../stage0_py_utils/dist/stage0_py_utils-0.1.0-py3-none-any.whl"}
pyyaml = "*"

[dev-packages]

[requires]
python_version = "3.12"
